h1, main {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: 'SFMono-Regular';
    src: url('/assets/fonts/SFMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'SFMono-Medium';
    src: url('/assets/fonts/SFMono-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'SFMono-Light';
    src: url('/assets/fonts/SFMono-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'Cocogoose';
    src: url('/assets/fonts/Cocogoose.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'built';
    src: url('/assets/fonts/built.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lemon';
    src: url('/assets/fonts/lemon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}  


@font-face {
    font-family: 'geo';
    src: url('/assets/fonts/geo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Turn red only after user interacted (blurred) and it's invalid */
input.ng-touched.ng-invalid[required],
select.ng-touched.ng-invalid[required],
textarea.ng-touched.ng-invalid[required]{
	border-color:#ef4444; /* red-500 */
	box-shadow:0 0 0 1px rgba(239,68,68,.5);
}

/* Also show red after a submit attempt */
form.ng-submitted input.ng-invalid[required],
form.ng-submitted select.ng-invalid[required],
form.ng-submitted textarea.ng-invalid[required]{
	border-color:#ef4444;
	box-shadow:0 0 0 1px rgba(239,68,68,.5);
}

/* Optional: radio group outline */
.invalid-group{
	border:1px solid #ef4444;
	border-radius:.25rem;
	padding:.25rem .5rem;
}
